section {
    margin: 50px 0;
    text-decoration: none;
}

/* ******* Info Blocks Section ******* */

#infoBlocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

#infoBlocks.character-summary {
    padding-bottom: 30px;
}

#infoBlocks > h2 {
    font-weight: 700;
    font-size: 36px;
}

#infoBlocks > .blocks-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

#infoBlocks > .blocks-container.character-summary {
    width: 100%;
}

.left-character-column, .right-character-column {
    flex: 1;
    padding: 20px;
}

.left-character-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.left-character-column > figure {
    padding: 20px;
    width: 52%;
}

.left-character-column > figure > img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(31,41,55,1);
}

.right-character-column > ul {
    padding: 20px;
}

.right-character-column > ul > li {
    margin: 0 0 20px 0;
    line-height: 1.8em;
}

.right-character-column > ul > li > ul > li {
    margin: 0 0 0 30px;
}

.right-character-column > ul > li > ul > li > i {
    color: rgba(31,41,55,0.2);
}

.right-character-column > ul > li > ul > li > i.mark {
    color: rgba(218,165,32,0.8);
    position: relative;
    margin: -3px;
}

.other-publisher-block {
    margin: 30px;
    text-decoration: none;
}

.other-publisher-block-figure {
    position: relative;
    width: 170px;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow:
        0 0 0 1px rgba(249,250,248,1),
        0 0 0 5px rgba(56,130,246,1);
}

.other-publisher-block-figure > img {
    filter:  grayscale(50%);
    opacity: 0.7;
    border-radius: 10px;
    overflow: hidden;
    transition: all 300ms ease-out;
    height: 166px;
    object-fit: cover;
    object-position: top;
}

.other-publisher-block-figure > figcaption {
    position: absolute;
    padding-top: 10px;
    height: 10px;
    width: 170px;
    bottom: -10px;
    text-align: center;
    color: rgba(31,41,55,1);
    font-size: 1.0em;
}

.other-publisher-block-figure:hover > img {
    filter: grayscale(0%);
    opacity: 1;    
}

/* ******* Quote Section ******* */

#quoteBlock {
    min-height: 100px;
    background: #e5e7eb;
    background: rgba(229,231,235,1);
    padding: 140px;
    box-shadow:
        554px 0 0 rgba(229,231,235,1),
        -554px 0 0  rgba(229,231,235,1);
}

#quoteBlock.character-summary {
    margin-bottom: 0;
}

.quote-text > blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    letter-spacing: 0;
}

.quote-credit{
    text-align: right;
    font-weight: bolder;
}

/* ******* CTA Section ******* */

#homepageCTA {
    padding: 50px 0;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(56,130,246,1);
    border-radius: 10px;
    color: rgba(229,231,235,1);
    padding: 50px 100px;
    box-shadow: inset 0 0 10px rgba(31,41,55,0.5);
}

.copy-column {
    flex: 3;
}

.copy-column > h4 {
    font-weight: 500;
    line-height: 18px;
}

.copy-column > p {
    color: rgba(229,231,235,0.8);
}

.button-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-column > button {
    border: none;
    border-radius: 7px;
    color: rgba(229,231,235,1);
    box-shadow: 0 0 0 2px rgba(229,231,235,1);
    background: rgba(56,130,246,1);
    padding: 6px 30px;
}