@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Roboto/Roboto-Black.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
}

h1 {
    font-family: 'Roboto', serif;
    color: blueviolet;
}