footer {
    background-color: #1f2937;
    background-color: rgba(31,41,55,1);
    box-shadow:
        50vw 0 0 rgba(31,41,55,1),
        -50vw 0 0 rgba(31,41,55,1);
    color: #f9faf8;
    padding: 25px 0;
}


#leftFooterColumn {

}

#rightFooterColumn {

}

#footerDisclaimer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}