/* @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: "fonts/Roboto-Black.ttf";
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: "fonts/Roboto-BlackItalic.ttf";
} */

/* @import 'style.reset.css'; */
@import 'style.base.css';